beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
cssselect==1.1.0
idna==2.9
lxml>=4.6.2
mosspy==1.0.8
numpy==1.18.1
pandas==1.0.1
pydot==1.4.1
pyparsing==2.4.6
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
openpyxl==3.0.3
jinja2==2.11.1
xlrd

