html5lib
beautifulsoup4
certifi
chardet
cssselect
idna
lxml
mosspy
numpy
pandas
pydot
pyparsing
pyquery
python-dateutil
pytz
requests
six
soupsieve
urllib3
openpyxl
jinja2>=2.11.3
xlrd
click
pyyaml
tqdm
appdirs
scoss
